@import '../../assets/stylesheets/colours';
@import '../../assets/stylesheets/breakpoints';

.PrivacyDetails {
  form {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 8px 8px 8px 0;
  }
}

@media (max-width: $mobile) {
  .PrivacyDetails {
    form {
      font-size: 0.875rem;
    }

    [type='checkbox'] {
      vertical-align: middle;
    }
  }
}
