@import '../../assets/stylesheets/colours';

.UserDetails {
  .Legend {
    font-size: 0.875rem;
    color: $red;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 8px 0;
    height: 40px;
    border: 1px solid $dark-green;
    border-radius: 4px;
    font-size: 1rem;
    color: $dark-green;

    &:focus {
      outline: none;
      border-color: $medium-green;
    }
  }

  .LabelContainer {
    display: inline-block;
    font-size: 0.875rem;
    color: $red;

    label {
      margin-right: 8px;
      color: $dark-green;
    }

    .Required {
      color: $red;
    }
  }
}
